Myapi/obj/Debug/netcoreapp2.0/Myapi.pdb
Myapi/bin/Debug/netcoreapp2.0/Myapi.deps.json
Myapi/bin/Debug/netcoreapp2.0/Myapi.dll
Myapi/bin/Debug/netcoreapp2.0/Myapi.pdb
Myapi/bin/Debug/netcoreapp2.0/Myapi.runtimeconfig.dev.json
Myapi/bin/Debug/netcoreapp2.0/Myapi.runtimeconfig.json
Myapi/obj/Debug/netcoreapp2.0/Myapi.AssemblyInfo.cs
Myapi/obj/Debug/netcoreapp2.0/Myapi.AssemblyInfoInputs.cache
Myapi/obj/Debug/netcoreapp2.0/Myapi.csproj.CoreCompileInputs.cache
Myapi/obj/Debug/netcoreapp2.0/Myapi.csproj.FileListAbsolute.txt
Myapi/obj/Debug/netcoreapp2.0/Myapi.dll
.vscode/tasks.json
.vscode/launch.json
Myapi/.vscode/launch.json
Myapi/.vscode/tasks.json
Myapi/obj/Myapi.csproj.nuget.cache
Myapi/obj/Myapi.csproj.nuget.g.props
Myapi/obj/project.assets.json
Myapi/obj/project.assets.json
Myapi/obj/Myapi.csproj.nuget.cache
Myapi/obj/Myapi.csproj.nuget.g.props
Myapi/obj/Myapi.csproj.nuget.cache
Myapi/obj/Myapi.csproj.nuget.g.props
Myapi/obj/project.assets.json
Myapi/obj/project.assets.json
Myapi/obj/Myapi.csproj.nuget.g.props
Myapi/obj/Myapi.csproj.nuget.cache
*.ide
